<section  id="CongNaMul">
    <div class="container" style="text-align:center;">
      <h3>
        CongNaMul
      </h3>
        <div class="team-member">
            <img src="img/CongNaMul/0.jpg" class="bookcover" alt=""><br/>
            <img src="img/CongNaMul/1.jpg" class="bookcover" alt=""><br/>
            <img src="img/CongNaMul/2.jpg" class="bookcover" alt=""><br/>
            <img src="img/CongNaMul/3.jpg" class="bookcover" alt=""><br/>
            <br/><br/><br/>
            <h4>CongNaMul: A Dataset for Advanced Image Processing of Soybean Sprouts</h4>
            <p>Ban, Byunghyun, Donghun Ryu, and Su-won Hwang. "CongNaMul: A Dataset for Advanced Image Processing of Soybean Sprouts."</p>
            <br/>
            <ul class="list-inline ">
                <li>
                    <a href="https://www.researchgate.net/publication/372829466" target="_blank" rel="noreferrer">
                        <img src="img/sites/researchgate.png" class="bookstore" alt="researchgate"/>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noreferrer">
                        <img src="img/sites/arxiv.png" class="bookstore" alt="researchgate"/>
                    </a>
                </li>
            </ul>

        </div>

        <div class="chapter">
          <div class="chapterTitle">Download Data</div><br/>


          <div class="chapterSubtitle">Semantic Segmentation Dataset</div>
          <p class="chapters">
            <Strong>Single Sample</Strong>
            <div class="list_nodot">
              <ul>
                <li>
                  <a href="#" target="_blank" rel="noreferrer">
                    3,024 x 3,024 px <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" rel="noreferrer">
                    2,016 x 2,016 px (Cropped) <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" rel="noreferrer">
                    1,024 x 1,024 px (Cropped) <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" rel="noreferrer">
                    512 x 512 px (Cropped)<i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>

            <Strong>Multiple Samples</Strong>
            <div class="list_nodot">
              <ul>
                <li>
                  <a href="#" target="_blank" rel="noreferrer">
                    3,024 x 3,024 px <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" rel="noreferrer">
                    2,675 x 2,675 px (Cropped) <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" rel="noreferrer">
                    1,359 x 1,359 px (Cropped) <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" rel="noreferrer">
                    679 x 679 px (Cropped)<i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" rel="noreferrer">
                    340 x 340 px (Cropped)<i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
            <br/>
            <div class="chapterSubtitle">Decomposition Dataset</div>
            <Strong>Two Samples</Strong>
            <div class="list_nodot">
              <ul>
                <li>
                  <a href="#" target="_blank" rel="noreferrer">
                    Seed data and Source Code <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
            <br/>

            <div class="chapterSubtitle">Classification Dataset</div>
            <Strong>Siingle Sample</Strong>
            <div class="list_nodot">
              <ul>
                <li>
                  <a href="#" target="_blank" rel="noreferrer">
                    3,024 x 3,024 px <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" rel="noreferrer">
                    1,024 x 1,024 px <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" rel="noreferrer">
                    512 x 512 px <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" rel="noreferrer">
                    256 x 256 px <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
          </p>
        </div>

      </div>
    </div>
  </section>
