<section  id="CongNaMul">
    <div class="container" style="text-align:center;">
      <h3>
        CongNaMul
      </h3>
        <div class="team-member">
            <img src="img/CongNaMul/0.jpg" class="bookcover" alt=""><br/>
            <img src="img/CongNaMul/1.jpg" class="bookcover" alt=""><br/>
            <img src="img/CongNaMul/2.jpg" class="bookcover" alt=""><br/>
            <img src="img/CongNaMul/3.jpg" class="bookcover" alt=""><br/>
            <br/><br/><br/>
            <h4>CongNaMul: A Dataset for Advanced Image Processing of Soybean Sprouts</h4>
            <p>Ban, Byunghyun, Donghun Ryu, and Su-won Hwang. "CongNaMul: A Dataset for Advanced Image Processing of Soybean Sprouts."</p>
            <p style="color:red">WARNING: COMMERCIAL USE IS FORBIDDEN. ONLY NON-PROFIT ORGANIZATIONS AND EDUCATIONAL INSTITUTES ARE PERMITTED TO USE THIS DATASET.</p>
            <br/>
            <ul class="list-inline ">
                <li>
                    <a href="https://www.researchgate.net/publication/372829466" target="_blank" rel="noreferrer">
                      <img src="img/sites/researchgate.png" class="bookstore" alt="researchgate"/>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noreferrer">
                      <img src="img/sites/arxiv.png" class="bookstore" alt="researchgate"/>
                    </a>
                </li>
            </ul>

        </div>

        <div class="chapter">
          <div class="chapterTitle">Dataset Currently Available at</div><br/>
            <a href="https://www.kaggle.com/datasets/byunghyunban/congnamul" target="_blank" rel="noreferrer">
              <img src="img/sites/kaggle.png"  alt="Kaggle" style="height:60px;"/>
            </a>
        </div>

      </div>
    </div>
  </section>
